.icon-search {
  position: absolute;
  margin-top: 5px;
  margin-left: 12px;
  font-size: 14px;
}

.cc, .icon-db-shape {
  font-size: 32px;
  width: 32px;
}

.icon-db-shape {
  color: #aaa;
  margin-bottom: -6px;
  margin-top: -6px;
}
