.text-disabled {
  color: #777;
}

.positive {
  color: #27892f;
}

.negative {
  color: #c02a1d;
}

.text-center {
  text-align: center;
}

.update-available {
  background: #f7931a;
  color: #efefef;

  .icon {
    color: #efefef;
  }
}
