@import "../../bower_components/photon/sass/photon";
@import "../../bower_components/cryptocoins/cryptocoins";
@import "../../bower_components/cryptocoins/cryptocoins-colors";

@font-face {
  font-family: 'photon-entypo-preload';
  src: url('./fonts/photon-entypo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cryptocoins-preload';
  src: url('./fonts/cryptocoins.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

i.cc {
  font-family: 'cryptocoins-preload' !important;
}

.icon:before {
  font-family: 'photon-entypo-preload' !important;
}

.toolbar-actions {
  margin-bottom: 2px;
}

.icon-search {
  position: absolute;
  margin-top: 5px;
  margin-left: 12px;
  font-size: 14px;
}

.text-disabled {
  color: #777;
}

.toolbar-header {
  padding: 8px 6px;
}

.positive {
  color: #27892f;
}

.negative {
  color: #c02a1d;
}

.text-center {
  text-align: center;
}

.search-bar > input {
  @extend .form-control;

  padding-left: 30px;
  border-top-color: #c2c0c2;
  border-right-color: #c2c0c2;
  border-bottom-color: #a19fa1;
  border-left-color: #c2c0c2;
}

.cc, .icon-db-shape {
  font-size: 32px;
  width: 32px;
}

.icon-db-shape {
  color: #aaa;
  margin-bottom: -6px;
  margin-top: -6px;
}

.update-available {
  background: #f7931a;
  color: #efefef;

  .icon {
    color: #efefef;
  }
}
